In [39]:
#1 Вивести перших 5 рядків.
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print(df)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [40]:
#2. Визначити розмір датасета.
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print("\nРозмір датасету (рядки, стовпці):", df.shape)

Розмір датасету (рядки, стовпці): (418, 12)

In [41]:
#3. Визначити тип даних.
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print("\nТипи даних:")
print(df.dtypes)

Типи даних:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [42]:
#4. Визначити наявність пропущених значень. При наявності, замінити
#пропущені значення на середнє значення.
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print("\nПеревірка на пропущені значення:")
print(df.isnull().sum())

df['Age'].fillna(df['Age'].mean(), inplace=True)

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

Перевірка на пропущені значення:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

C:\Users\westw\AppData\Local\Temp\ipykernel_26024\4287857583.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\westw\AppData\Local\Temp\ipykernel_26024\4287857583.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [43]:
#5. Ще раз перевірити наявність пропущених значень.
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print("\nПеревірка на пропущені значення:")
print(df.isnull().sum())

df['Age'].fillna(df['Age'].mean(), inplace=True)

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

print("\nПеревірка на пропущені значення після заміни:")
print(df.isnull().sum())

Перевірка на пропущені значення:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Перевірка на пропущені значення після заміни:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

C:\Users\westw\AppData\Local\Temp\ipykernel_26024\3188211440.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\westw\AppData\Local\Temp\ipykernel_26024\3188211440.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [44]:
#6. Перевірити наявність дублікатів. При наявності видалити дублікати.
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print("\nПеревірка на дублікатів:")
print("Кількість дублікатів:", df.duplicated().sum())

df.drop_duplicates(inplace=True)

Перевірка на дублікатів:
Кількість дублікатів: 0

In [45]:
#7. Вивести описову статистику датасету describe()
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)
print("\nОписова статистика:")
print(df.describe())

Описова статистика:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

In [46]:
#8. Видалити стовпчик Cabin
import pandas as pd
path = "./titanic.csv"
df = pd.read_csv(path)

df.drop('Cabin', axis=1, inplace=True)
print("\nВидалено стовпчик 'Cabin'.")
print(df)

Видалено стовпчик 'Cabin'.

In [16]:
#9. Сформувати датасет з обраними стовпцями:
#['Survived', 'Pclass', 'Sex', 'Age', 'Fare']

In [17]:
#10.Замінити бінарні ознаки (Стать) на 0 і 1 (але перевірте унікальні
#значення даного стовпчика).

In [18]:
#11.Ще раз перевірити кількість пропущених даних (впевнитись, що їх
#немає).

In [19]:
#12.Вивести 5 перших рядків датасету.

In [20]:
#13.Вивести 5 останніх рядків датасету.

In [21]:
#14.Аналіз виживання залежно від статі: Обчисліть відсоток виживання
#для кожної статі. Чи була різниця у виживанні між чоловіками та
#жінками?

In [22]:
#15.Обчисліть відсоток виживання для кожного класу (Pclass). Який
#клас мав найвищий рівень виживання (дати відповідь)?

In [23]:
#16. Визначте середній вік тих, хто вижив, і тих, хто не вижив. Чи
#впливає вік на виживання (дати відповідь)?

In [24]:
#17. Розподіліть пасажирів на групи за рівнями тарифів (Fare) і
#обчисліть рівень виживання для кожної групи. Як тариф впливав на
#шанси виживання (дати відповідь)?

In [25]:
#18.Аналіз класу та тарифу: Визначте середній тариф (Fare) для кожного
#класу (Pclass). Чи існує значна різниця у тарифах між класами (дати
#відповідь)?

In [27]:
#19. Обчисліть середній вік пасажирів для кожного класу (Pclass). Як вік
#пасажирів розподіляється за класами (дати відповідь)?

In [28]:
#20.Побудуйте гістограму розподілу віку для тих, хто вижив, і тих, хто
#не вижив. Чи є видимі відмінності у вікових групах (дати
#відповідь)?

In [29]:
#21. Обчисліть відсоток виживання для кожної комбінації статі та класу
#(наприклад, жінки в 1-му класі, чоловіки в 3-му класі). Яка група
#мала найвищий рівень виживання (дати відповідь)?

In [ ]:
#22.Обчисліть кореляцію між усіма числовими змінними (Survived,
#Pclass, Age, Fare). Які змінні найбільш сильно корелюють з
#виживанням (дати відповідь)?